---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';


import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import BlogTagPosts from '~/components/widgets/BlogTagPosts.astro';

const metadata = {
  title: 'AboutC2PA | Effortless C2PA Content Signing, Key Management & SDK Integration',
  ignoreTitleTemplate: true,
  description: 'Streamline C2PA adoption with AboutC2PA. Securely sign digital content, manage signing keys, and integrate across web, Android, and iOS using our powerful SDK. Protect your assets, ensure authenticity, and boost your brand’s credibility with trusted content verification—no content uploads required'
};
---

<Layout metadata={metadata}>

  <!-- Hero2 Widget ******************* -->
  <Hero2
    tagline="AboutC2PA"
    actions={[
      // { variant: 'primary', target: '_blank', text: 'Get Started', href: 'https://github.com/onwidget/astrowind' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: '~/assets/images/c2pa-logo.jpg',
      alt: 'C2PA Image',
    }}
  >
    <Fragment slot="title">
      Sign Digital Content Seamlessly with AboutC2PA: <br /> your ultimate <span class="text-accent dark:text-white highlight"
        >C2PA SaaS</span
      > Solution<br />
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Streamline your content authentication process with <span class="font-semibold">AboutC2PA</span>'s powerful SaaS solutions.</span
      >
      Effortlessly manage C2PA signing keys, securely sign resources without content uploads, and integrate seamlessly across platforms like web, Android, and iOS to ensure trusted and verified digital content.
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Why choose AboutC2PA?"
    subtitle="Each of the following features enhances AboutC2PA's value as the ultimate C2PA signing solution."
    columns={2}
    items={[
      {
        title: 'Effortless integration and complexity management with the SDK',
        description:
          "AboutC2PA's powerful SDK simplifies the implementation of C2PA specifications, removing the hassle of managing complexities. Developers can save time and focus on their business logic while ensuing seamless integration into workflows across web, iOS, Android, and more.",
        icon: 'tabler:layers-union',
      },
      {
        title: 'Build trust through verified and reliable content',
        description: `Your products and content deserve to shine as trustworthy and authentic. AboutC2PA ensures the content you create is signed and seamlessly integrated into various platforms, making it instantly recognizable as reliable. Enhance your brand's credibility by delivering verified content to your audience.`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Multi-platform support for maximum flexibility',
        description:
          "Whether it's web-based applications or mobile platforms like Android and iOS, AboutC2PA's multi-platform compatibility ensures that your signed content looks consistent and secure across all channels. Broaden your reach without any technical limitations.",
        icon: 'tabler:writing',
      },
      {
        title: 'Secure signing without content uploads',
        description: `Prioritizing your content security, AboutC2PA eliminates the need for original files to be uploaded to servers. By extracting only the necessary metadata and thumbnails for signing, your content remains protected from leaks or unauthorized access.`,
        icon: 'tabler:podium',
      },
      {
        title: 'Flexible signing options for diverse needs',
        description: `From issuing multiple signing keys to tailoring signer identities for specific purposes, AboutC2PA adapts to your business requirements. Whether you're managing corporate assets, creative portfolios, or SaaS content, the platform offers full customization to suit your project goals.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Scalable solutions for businesses of all sizes',
        description: `Start with the free version to experience AboutC2PA's capabilities or upgrade to the paid version for advanced features like multiple signing keys and custom signer identities. AboutC2PA grows with your business, ensuring secure and reliable digital content at every stage.`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Use cases"
    id="usecases"
    subtitle="Discover how AboutC2PA revolutionizes digital content authentication with versatile solutions tailored to diverse industries and needs."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          'Are you a content creator who wants to safeguard your work and maintain its authenticity? AboutC2PA empowers you to establish ownership by securely signing your digital content with C2PA standards. Creators from industries like multimedia, photography, and design rely on AboutC2PA to protect their creative assets and build credibility with their audience.',
      },
      {
        title: 'Benefits:',
        description: `Effortless signing without uploading content to the server, ensuring maximum privacy. <br />
Showcase authenticity to your audience with verified digital assets.<br />
Prevent unauthorized edits or misuse of your creative work.<br />
Seamlessly integrate signing tools into your production flow using an intuitive SDK.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Content Creators:<br /><span class="text-2xl">Building trust with AboutC2PA</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `For SaaS businesses, offering secure and authenticated content matters. AboutC2PA ensures that the communication and digital assets shared by your application are trusted and tamper-proof. Safeguard your brand while enhancing user confidence with a streamlined C2PA signing process tailored for SaaS solutions.`,
      },
      {
        title: 'Benefits:',
        description: `Boost your SaaS product’s reputation by delivering secure, authenticated assets. <br />
Protect sensitive documentation or resources shared with users from tampering. <br />
Simplify content verification workflows for customer communications.<br />
Integrate signing capabilities directly within your SaaS platform through flexible SDKs.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        SaaS Businesses: <br /><span class="text-2xl">Enhancing credibility and security with AboutC2PA</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description:',
        description: `Creative professionals like designers, artists, and photographers often face the challenge of unauthorized use of their work. AboutC2PA allows you to securely sign your portfolio pieces, ensuring they remain uniquely yours. Make an impression with verified, authoritative digital content while protecting your creative efforts.`,
      },
      {
        title: 'Benefits:',
        description: `Authenticate your portfolio with signed digital content to prevent unauthorized usage. <br/>
Showcase your projects with confidence, backed by secure ownership.<br/>
Reflect your unique identity and professionalism through trusted content.<br/>
Easily integrate signing into your daily creative workflow without compromising productivity.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Creative portfolios: <br /><span class="text-2xl">Showcasing verified work with AboutC2PA</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'Description:',
        description: `Small businesses can build confidence with their audience using authenticated content. Whether it’s engaging marketing materials, trustworthy documentation, or secure product assets, AboutC2PA helps small businesses present themselves as professional and reliable.`,
      },
      {
        title: 'Benefits:',
        description: `Sign and protect your digital assets to prevent misuse or manipulation.<br />
Build trust with customers by delivering verified and authentic content.<br />
Simplify content protection without requiring advanced technical skills.<br />
Ensure a scalable solution that grows with your business needs.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1514621166532-aa7eb1a3a2f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Small Business Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Small Businesses: <br /><span class="text-2xl">Protecting and promoting with AboutC2PA</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Pricing Widget ******************* -->

  <!-- <Pricing
    title="Flexible pricing plans"
    prices={[
      {
        title: 'free',
        subtitle: 'Access to core features and a wide range of templates',
        price: '0',
        period: '/ month',
        callToAction: {
          target: '_blank',
          text: 'Get Started for Free',
          href: '#',
        },
      },
      {
        title: 'pro',
        subtitle: 'Premium templates and advanced customization',
        price: 15,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Upgrade to Pro',
          href: '#',
        },
        hasRibbon: true,
        ribbonTitle: 'popular',
      },
      {
        title: 'Enterprise',
        subtitle: 'Tailored solutions for large-scale projects',
        price: 45,
        period: '/ Month',
        callToAction: {
          target: '_blank',
          text: 'Unlock Enterprise Features',
          href: '#',
        },
      },
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    id="faq"
    items={[
      {
        title: 'Is AboutC2PA compatible with all platforms?',
        description:
          'Yes, AboutC2PA is designed to work seamlessly across multiple platforms, including web, Android, iOS, and more. Its SDK ensures smooth integration, allowing you to use it in your preferred environment without limitations.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can I use AboutC2PA for both personal and commercial purposes?',
        description: `Certainly! AboutC2PA is flexible and can be used for personal and commercial projects alike. Whether you're a content creator protecting your work or an enterprise ensuring content authenticity, AboutC2PA has the tools to meet your needs.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Do I need advanced technical knowledge to use AboutC2PA?',
        description:
          'Not at all! AboutC2PA’s intuitive interface and SDK make it easy to get started, even for users with limited technical expertise. For developers and advanced users, AboutC2PA offers extensive customization options to fit complex workflows.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Does AboutC2PA require me to upload my content to the server?',
        description: `No, AboutC2PA ensures your content remains secure by not requiring uploads to its server. All signing processes occur locally, preventing any risk of content leakage or unintended exposure.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What are the differences between the free and paid versions of AboutC2PA?',
        description: `The free version allows you to use one signing key issued by About Service Inc. with a fixed signer identity. The paid version offers advanced features, including multiple signing keys, customizable signing identities, and tailored management for diverse signing needs.`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is customer support available for AboutC2PA users?',
        description: `Absolutely! Our dedicated customer support team is available to assist with any questions, technical issues, or guidance needed to maximize your use of AboutC2PA. Feel free to contact us anytime through our support channels.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </FAQs>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'support@aboutsvc.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+82 (10) 9273-0777',
        icon: 'tabler:headset',
      }
    ]}
    
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps2>

  <!-- BlogLatestPost Widget **************** -->

  <BlogTagPosts
    id="blog"
    title="Stay informed with AboutC2PA's resources"
    tag="c2pa"
    information={`Explore our collection of articles, guides, and tutorials on digital content authentication, C2PA standards, and using AboutC2PA effectively to secure and verify your content across platforms.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogTagPosts>
</Layout>
