---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Empower your business with <br />
      <span class="text-accent dark:text-white highlight"> Innovative Tech Solutions</span>
    </Fragment>

    <Fragment slot="subtitle">
      At About Service, we specialize in providing cutting-edge software development, AI-powered tools, and secure data management services. Our solutions simplify complex business processes, enhance operational efficiency, and scale alongside your growth-bringing advanced technology and reliability to the heart of your business success.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]} -->
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Expertise"
    subtitle="We offer a diverse range of tailored solutions designed to empower businesses across various fields and industries."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Business Automation',
        description:
          'Efficiently streamline operations with innovative software solutions that save time and resources.',
        icon: 'tabler:template',
      },
      {
        title: 'Educational Tools',
        description:
          'We provide intelligent systems to enhance learning processes and manage educational data effectively.',
        icon: 'tabler:template',
      },
      {
        title: 'Creative Industries',
        description:
          'From secure multimedia production to customizable digital tools, we support creative professionals in achieving their goals.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'E-commerce Solutions',
        description:
          'Elevate your online store with secure data management and AI-driven strategies to enhance customer experiences.',
        icon: 'tabler:template',
      },
      {
        title: 'Technology for Branding',
        description:
          'Our solutions focus on aligning technology with brand identity, ensuring consistent and impactful business presence.',
        icon: 'tabler:template',
      },
      {
        title: 'Data Security and AI',
        description:
          'Leverage cutting-edge AI-powered software with a strong focus on data security for peace of mind and operational excellence.',
        icon: 'tabler:template',
      }
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="At About Service, our core beliefs guide every project and solution we deliver, driving innovation, reliability, and client satisfaction."
    items={[
      {
        title: 'Customer-Centric Approach',
        description:
          'We prioritize understanding and addressing the unique needs of our clients, delivering tailored solutions that empower their growth and success.',
      },
      {
        title: 'Innovation and Excellence',
        description:
          'Our commitment to staying ahead of technological trends ensures we provide cutting-edge tools and services that enhance efficiency and productivity.',
      },
      {
        title: 'Ethical and Secure Practices',
        description:
          'We uphold the highest standards of integrity, ensuring data protection and adopting ethical practices in all aspects of our work.',
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Our accomplishments reflect our dedication to innovation, quality, and client satisfaction, cementing our reputation as a trusted technology partner."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Innovative Software Solutions',
        description: 'Delivered impactful tools that streamline processes and drive efficiency across various industries.',
        icon: 'tabler:api-app',
      },
      {
        title: 'Trusted by a Diverse Client Base',
        description:
          'Built strong relationships with clients through exceptional service and tailored solutions that meet their unique needs.',
        icon: 'tabler:heart-spark',
      },
      {
        title: 'Consistently Positive Feedback',
        description:
          'Received praise and recommendations for our ability to simplify complex challenges and deliver user-friendly, effective solutions.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Recognition as Industry Innovators',
        description:
          'Acknowledged for our expertise in AI-powered tools, secure data management, and scalable software solutions, further solidifying our position as leaders in the tech landscape.',
        icon: 'tabler:thumb-up',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={3}
    items={[
      {
        title: 'Phone',
        description: '+82 (10) 9273-0777',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: 'support@aboutsvc.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: 'Seongbuk-gu, Seoul, Republic of Korea',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
