---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { getPermalink, getBlogPermalink, getAsset } from '../utils/permalinks';
import { YouTube } from 'astro-embed';
import Content from '~/components/widgets/Content.astro';
import Hero2 from '~/components/widgets/Hero2.astro';


const metadata = {
  title: 'About Service | Innovating Business Solutions with AI and Software Expertise',
  ignoreTitleTemplate: true,
  description: 'About Service delivers cutting-edge software development, AI-powered services, secure data management, and customizable applications for businesses. Boost productivity, streamline operations, and ensure security with scalable, user-centric solutions tailored to your unique needs'
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    actions={[
      // {
      //   variant: 'primary',
      //   target: '_blank',
      //   text: 'Get templates',
      //   href: 'https://github.com/onwidget/astrowind',
      //   icon: 'tabler:download',
      // },
      { text: 'Learn more', href: '#features' },
      { variant: 'primary', text: 'Contact', href: getPermalink('/contact') },
    ]}
  >
    <Fragment slot="title">
      Enhance <span class="hidden sm:inline">your business capabilities</span> with <span
        class="text-accent dark:text-white highlight">About Service</span>’s
      innovative solutions
    </Fragment>

    <Fragment slot="subtitle">
      Step into the future with <span class="font-semibold">About Service</span>, your partner in 
      strengthening processes, boosting productivity, and driving growth through cutting-edge technology.
    </Fragment>

    <!-- <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment> -->
  </Hero>

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="About us"
    subtitle="We believe in turning innovative ideas into powerful digital solutions. Founded by a team of passionate experts with a shared vision, we focus on simplifying and enhancing technology-driven processes. From intuitive software development to cutting-edge AI solutions, we empower businesses to showcase their unique identity and achieve their goals with efficiency and precision."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Discover the impressive impact of About Service"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we’ve helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

  <!-- Brands Widget ****************** -->

  <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At About Service, we value the power of collaboration to drive technological innovation and deliver outstanding solutions tailored to our clients' needs."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="What services do we provide?"
    subtitle="We offer a diverse range of technology-driven solutions, including software developments, AI-powered services, secure data management, and customized applications designed to meet the unique needs of businesses across various industries."
    items={[
      {
        title: 'Technical Guidance',
        description:
          'Provide clear and detailed instructions to help clients seamlessly install and implement our software solutions, ensuring smooth integration into various platforms and systems.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Interactive Previews',
        description:
          'Offer interactive demonstrations and previews of our products, allowing clients to explore their functionality and effectiveness prior to deployment.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Dedicated Technical Support',
        description:
          'Deliver expert customer support to address any technical challenges and ensure the successful application of our solutions in diverse business environments.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Key features of our solutions"
    subtitle="Our solutions are designed with essential features to effectively meet the diverse needs of businesses, startups, and entrepreneurs, ensuring innovation and efficiency in every project."
    columns={3}
    items={[
      {
        title: 'Automation and Efficiency',
        description:
          'Designed to automate complex processes, our tools improve operational efficiency and reduce manual workload for businesses',
        icon: 'tabler:artboard',
      },
      {
        title: 'Innovative and User-Centric Design',
        description: 'Crafted with cutting-edge technology to deliver modern, intuitive, and streamlined user experiences.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Customizability',
        description:
          'Highly adaptable to meet the unique requirements of each client, ensuring solutions align perfectly with their goals and branding.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Scalability',
        description:
          "Built to grow alongside client’s business, our solutions accommodate evolving needs without compromising functionality or speed.",
        icon: 'tabler:rocket',
      },
      {
        title: 'Security and Reliability',
        description: 'Engineered with robust security features, our services ensure data protection and dependable performance.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Interoperability',
        description: 'Seamlessly integrate with existing systems and platforms, ensuring smooth implementation and compatibility across diverse technologies.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Showcases"
    id="showcases"
    subtitle="Discover how About Service's innovative software solutions empower users with unique functionalities, saving time and resources while enhancing productivity."
    isReversed
    items={[
      {
        title: 'Description:',
        description:
          "Tired of repetitive calculations? VarsCalculator transforms the way you approach mathematical expressions. Designed with everyday users and professionals in mind, VarsCalculator allows users to create, save, and reuse custom formulae using variables like X, Y, and Z. Whether it's budgeting, engineering, or daily numerics, this app streamlines any computation process with its variable-based approach.",
      },
      {
        title: 'Benefits:',
        description: `Simplifies complex calculations by enabling variable-based formula save and reuse. <br />
Save time by adjusting variables (X, Y, Z) to instantly obtain results for similar computations.<br />
Retrieve past calculations seamlessly with the app's convenient history feature.`,
      },
    ]}
    image={{
      src: '~/assets/images/vars-calculator.png',
      alt: 'VarsCalculator Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        App showcase:<br /><span class="text-2xl">Revolutionizing calculations with VarsCalculator</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={false}
    items={[
      {
        title: 'Description:',
        description: `For businesses creating digital content, ensuring authenticity and trust can be time-consuming and complex. AboutC2PA simplifies applying C2PA (Coalition for Content Provenance and Authenticity) standards through its comprehensive SDK and SaaS platform. By automating key generation, signing processes, and history management, AboutC2PA minimizes the technical burden, enabling companies to focus on core business goals.`,
      },
      {
        title: 'Benefits:',
        description: `Save time with AboutC2PA's easy-to-integrate SDK that handles complex C2PA specifications seamlessly. <br />
Reduce costs by eliminating the need for extensive in-house development to achieve C2PA compliance. <br />
Ensure content reliability without uploading original files, safeguarding sensitive data during the signing process.<br />
Enable flexible, purpose-specific key management and multi-platform compatibility (web, Android, iOS).`,
      },
    ]},
    image={{
      src: '~/assets/images/c2pa-logo.jpg',
      alt: 'AboutC2PA Image',
    }},

  >
  <!-- callToAction= {{
    variant: "secondary",
    text: 'Learn more',
    href: getPermalink('/product/c2pa'),
  }}, -->
  
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        SaaS showcases: <br /><span class="text-2xl">Elevating content integrity with AboutC2PA</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What type of services does About Service provide?',
        description:
          'About Service specializes in providing a variety of technology-driven services, including AI-powered solutions, software development, secure data management, and customized applications tailored to diverse business needs.',
      },
      {
        title: 'How can About Service help my business?',
        description:
          'Our innovative solutions are designed to streamline operations, enhance productivity, and address complex challenges, allowing businesses to focus on growth and achieving their goals.',
      },
      {
        title: "Do I need technical expertise to use About Service’s solutions?",
        description:
          'While our services are designed to be user-friendly, a basic understanding of digital tools may help in maximizing their potential. For advanced customization or support, our dedicated team is available to assist you.',
      },
      {
        title: "Can About Service’s solutions be customized to suit my needs?",
        description:
          'Absolutely. Our services are highly adaptable, enabling businesses to align our solutions with their specific goals, branding, and operational requirements.',
      },
      {
        title: 'What kind of support does About Service offer?',
        description:
          'We provide comprehensive support, including detailed guides and personalized assistance, to ensure smooth implementation and effective use of our solutions.',
      },
      {
        title: 'Are your solution scalable for growing businesses?',
        description:
          "Yes, our solutions are built with scalability in mind, ensuring they can grow alongside your business without compromising performance or usability.",
      },
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </FAQs>

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    title="Let us know how we can help"
    subtitle="We’re here to help and answer any question you might have."
    columns={4}
    items={[
      {
        title: 'Phone',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Call us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Write to us',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with sales',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat with support',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Start chatting',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact',
        href: getPermalink('/contact'),
      },
    ]}
  >
    <Fragment slot="title">Be a part of our vision</Fragment>

    <Fragment slot="subtitle">
      Discover a dynamic work environment, unparalleled growth opportunities, and the chance to make a meaningful
      impact.
    </Fragment>
  </CallToAction>
</Layout>
